@media screen and (max-width:576px){
/* header related style */
header{
    margin-bottom: 40px;
}

.navbar{
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 50px;
    gap: 20px;
}

.brand{
    font-size: 1rem;
}

.menu{
    gap: 20px;
    
}


.hero{
    flex-direction: column-reverse;
    text-align: center;
}

.text-heading{
    font-size: 2rem;
    line-height: 50px;
    margin-top: 20px;
}

.text-description{
    max-width: 321px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.btn-primary{
    margin: 0 auto;

}

.hero-banner img{
    width: 100%;
    padding: 0 50px;
}


/* sponsor companies related style */
.sponsor{
    border-top:none;
    border-bottom: none;
    border-image: none;
    display: grid;
    margin-bottom: 20px;
    
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;

}


/* popular section related style */

.popular-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.btn-secondary{
    margin-right: 50px;
    margin-top: 20px;
}


/* feature section related style */
.feature{
    gap: 30px;
    padding: 50px 0;
    flex-direction: column-reverse;
    margin: 0 10px;
}

.feature-heading{
    text-align: center;
}

.feature-description{
    text-align: center;
}



.btn-join{
    display: flex;
    justify-content: center;
}

.feature img{
    width: 100%;
}


/* footer related style */
footer{
    padding: 50px 68px;
}

}

