@media screen and (max-width:576px){
/* header{
    margin-bottom: 20px;
}

.navbar{
    flex-direction: column;
    margin-bottom: -50px;
    
}

.brand{
    font-size: 1rem;
    font-weight: 700;
}

.menu{
    flex-direction: row;
    gap: 30px;
}

.link{
    font-size: 0.75rem;
    white-space: nowrap;
}

.hero{
    flex-direction: column;
}

.hero-title{
    order: 1;
}
.text-heading{
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
}

.text-description{
    text-align: center;
    font-size: 0.75rem;
}

.hero-banner img{
    width: 100%;
}

.hero .btn-primary{
    margin: 0 auto;
}

/* sponsor related style */
/* .sponsor-companies{
    max-width: 275px;
    display: grid;
    margin: 0 auto;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    
} */


/* popular section related style */
/* .popular-card{
   display: flex;
   flex-direction: column;
} */
/* 
.card-info{
    padding: 17px 15px 27px 14px;
    width: 100%;
    


} */

/* .card-info img{
    width: 100%;
    
} */


/*challenge part section related style  */

/* .feature{
    flex-direction: column;
    gap: 5px;
    padding: 50px 0;
} */

/* .feature img{
    order: 1;
    width: 100%;
}
.feature-text{
    order: -1;
    text-align: center;
}

.feature-heading{
    font-size:1.5rem ;
    line-height:30px ;
    margin-bottom: 15px;
}

.feature-description{
    max-width: 329px;
}
.btn-join{
    margin-top: 38px;
    margin-bottom: 30px;
} */


/* footer section related style */
/* footer{
    background-color: #0A0826;
    padding: 50px 68px;

}





} */ */









/* header related style */
header{
    margin-bottom: 40px;
}

.navbar{
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 50px;
    gap: 20px;
    /* margin: 0 auto; */
    /* align-items: center; */
    /* max-width: 1200px; */
}

.brand{
    font-size: 1rem;
    /* font-weight: 700; */
}

.menu{
    /* list-style: none; */
    gap: 20px;
    /* align-items: center; */
}

/* .link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
} */

.hero{
    flex-direction: column-reverse;
    text-align: center;
    /* align-items: center; */
    /* max-width: 1203px; */
    /* margin: 0 auto; */
}

.text-heading{
    font-size: 2.5rem;
    /* font-weight: 700; */
    line-height: 50px;
    /* margin-bottom: 16px; */
    /* max-width: 574px; */
}

.text-description{
    /* font-size: 1rem; */
    /* font-weight: 600; */
    /* line-height: 24px; */
    /* margin-bottom: 16px; */
    max-width: 321px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.btn-primary{
    /* color: white; */
    /* background-color: #E02C6D; */
    /* padding: 10px 24px; */
    /* border: none; */
    /* border-radius: 41px; */
    /* gap: 10px; */
    /* align-items: center; */
    /* font-size: 1rem; */
    /* font-weight: 700; */
    /* cursor: pointer; */
    margin: 0 auto;

}
.hero-banner{
    /* position: relative; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.hero-banner img{
    /* z-index: 1; */
    width: 100%;
    /* margin: 0 auto; */
}

.circle-wrapper{
    /* position: absolute; */
    /* z-index: -1; */
}





/* sponsor companies related style */
.sponsor{
    /* margin: 0 auto; */
    /* max-width: 1110px; */
    border-top:none;
    border-bottom: none;
    /* padding:35px; */
    border-image: none;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
}




/* popular section related style */
.popular{
    /* max-width: 1147px; */
    /* margin: 0 auto; */
}
.popular-heading{
    /* justify-content: center; */
    /* font-size: 1.75rem; */
    /* font-weight: 600; */
    /* line-height: 4.375rem; */
    /* margin-bottom: 1.875rem; */
}

.popular-card{
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    /* grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    margin: 0 auto;
    /* margin-bottom: 50px; */
}

.card-info{
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    /* padding: 17px 15px; */
    /* max-width: 330px; */
    /* border-radius: 5px; */

}
.card-info img{
    /* max-width: 300px; */
    /* margin-bottom: 16px; */
}

.card-heading{
    /* font-size: 1.75rem; */
    /* line-height: 2.5rem; */
    /* font-weight: 500; */
    /* margin-bottom: 6px; */
}
.card-price{
    /* font-size: 1.5rem; */
    /* line-height: 150%; */
    /* margin-bottom: 8px; */
}

.rating{
    /* color: #FB8200; */
    /* margin-bottom: 5px; */
}

.rating-text{
    /* font-size: 1rem; */
    /* line-height: 22px; */
    /* font-weight: 700; */
    /* letter-spacing: 0.1px; */
}

.card-description{
    /* color: #787885; */
}


.btn-secondary{
    /* justify-content: flex-end; */
    margin-right: 50px;
    margin-top: 20px;
}
/* .see-more{
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
    align-items: center;
    gap:8px
} */



/* feature section related style */
.feature{
    /* justify-content: space-between; */
    /* max-width: 1110px; */
    gap: 30px;
    /* margin: 0 auto; */
    padding: 50px 0;
    flex-direction: column-reverse;
    margin: 0 10px;
}

.feature-heading{
    /* font-size:2.375rem ; */
    /* line-height:60px ; */
    /* font-weight: 800; */
    /* margin-bottom: 16px; */
    text-align: center;
}

.feature-description{
    text-align: center;
    /* font-size: 1rem; */
    /* line-height: 28px; */
    /* font-weight: 700; */
    /* margin-bottom: 16px; */
}



.btn-join{
    /* border-radius: 0px; */
    display: flex;
    justify-content: center;
}

.feature img{
    width: 100%;
}


/* footer related style */
footer{
    /* background-color: #0A0826; */
    padding: 50px 68px;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

/* .footer-heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: white;
} */

/* .footer-copyright{
    font-size: 1rem;
    font-weight: 700;
    color: #D9DBE1;
    margin-bottom: 8px;
} */

/* .footer-copyright-2{
    font-size: 1rem;
    font-weight: 700;
    color: #D9DBE1;
    margin-bottom: 17px;
} */

/* .footer-icons{
    justify-content: center;
    gap: 16px;
} */