*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font-family{
  font-family: "Poppins", sans-serif;
  /* font-style: normal; */
  /* font-weight: 400; */
}

/* shared style */

.max-width{
    max-width: 1200px;
}

/* color-palette */
.gray-color{
    color: #3A3A3A;
}

.dark-gray-color{
    color: #18191F;
}
.dark-color{
    color: rgba(0, 0, 0, 0.87);
}
.light-gray-color{
    color: #787885;
}

/* button-style */
.btn-primary{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    gap: 8px;
}

.btn-secondary{
    border-radius: 0;
}

/* main style */


/* header related style */
header{
    margin: 87px auto 100px;
}
.navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.brand{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 34px;
}

.link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}