*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font-family{
  font-family: "Poppins", sans-serif;
  /* font-style: normal; */
  /* font-weight: 400; */
}

/* shared style */

.display-flex{
    display: flex;
}

/* color-palette */
.gray-color{
    color: #3A3A3A;
}

.dark-gray-color{
    color: #18191F;
}
.dark-color{
    color: rgba(0, 0, 0, 0.87);
}
.light-gray-color{
    color: #787885;
}

/* button-style */
.btn-primary{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;

}

.btn-secondary{
    border-radius: 0;
}




/* main style */


/* header related style */
header{
    margin-bottom: 70px;
}

.navbar{
    justify-content: space-between;
    padding-top: 87px;
    padding-bottom: 80px;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
}

.brand{
    font-size: 1.5rem;
    font-weight: 700;
}

.menu{
    list-style: none;
    gap: 34px;
    align-items: center;
}

.link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.hero{
    justify-content: space-between;
    align-items: center;
    max-width: 1203px;
    margin: 0 auto;
}

.text-heading{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
}

.text-description{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
}

.hero-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner img{
    z-index: 1;
}

.circle-wrapper{
    position: absolute;
    z-index: -1;
}


/* sponsor companies related style */
.sponsor{
    margin: 0 auto;
    max-width: 1110px;
    border-top:2px solid;
    border-bottom: 2px solid;
    padding:35px;
    border-image: linear-gradient(to right, rgba(192, 204, 218, 0.1)10%, rgba(192, 204, 218, 0.6)60%, rgba(192, 204, 218, 0.1)100%)1;
    margin-bottom: 100px;
}

.sponsor-companies{
    justify-content: space-between;
}


/* popular section related style */
.popular{
    max-width: 1147px;
    margin: 0 auto;
}
.popular-heading{
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.375rem;
    margin-bottom: 1.875rem;
}

.popular-card{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}

.card-info{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 17px 15px;
    /* max-width: 330px; */
    border-radius: 5px;

}
.card-info img{
    max-width: 300px;
    margin-bottom: 16px;
}

.card-heading{
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 6px;
}
.card-price{
    font-size: 1.5rem;
    line-height: 150%;
    margin-bottom: 8px;
}

.rating{
    color: #FB8200;
    margin-bottom: 5px;
}

.rating-text{
    font-size: 1rem;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.card-description{
    color: #787885;
}


.btn-secondary{
    justify-content: flex-end;
}
.see-more{
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
    align-items: center;
    gap:8px
}